.selectbutton {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.selectbutton:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.selectbutton:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};
